@use "../core/variables";

.container {
	width: 100%;
	padding: {
		left: variables.$mobile-offset;
		right: variables.$mobile-offset;
	}
	margin: {
		right: auto;
		left: auto;
	}
	max-width: variables.$container-width;
}
