*,
*::before,
*::after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
}

// * Put footer at bottom

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: var(--back);
	color: var(--front);
}

footer {
	margin-top: auto;
}
