// * Example of switching light and dark theme by OS setting

.page {
	--back: rgb(247, 247, 247);
	--front: rgb(11, 0, 49);

	@media (prefers-color-scheme: dark) {
		--back: rgb(11, 0, 49);
		--front: rgb(235, 235, 235);
	}
}
