@mixin summary-reset {
	list-style: none;

	&::-webkit-details-marker {
		display: none;
	}
}


@mixin reset-list {
	margin: 0;
	padding: 0;
	list-style: none;
}



@mixin focus-hover {
	&:hover {
		@content;
	}

	&:focus-visible {
		@content;
	}
}

@mixin invisible-scrollbar {
	scrollbar-width: none;  /* Firefox */
	/* Hide scrollbar for Chrome, Safari and Opera */
	&::-webkit-scrollbar {
		display: none;
	}
}
